* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

main {
	flex: 1;
	padding: 1rem;
	max-width: 1280px;
	width: 100%;
	margin: 1rem auto;
}
